*{
    margin:0;
    padding:0;
}

body {
    background-color: #1D92DB;
    background-image: url('../images/starscape.jpg');
}

.Tasiyici{
    min-height:500px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.panel{
    margin-left:auto;
    margin-right:auto;
    width:300px;
    border:3px solid #1A628F;
    padding: 20px;
    text-align: center;
    min-height: 300px;
}

    .panel h3{
        margin-top:20px;
        font-size:30pt;
    }

.hata{
    background-color:#8F1313;
    min-height: 20px;
    padding: 10px;
    color:#ffffff;
    font-size: 14pt;
    text-align:center;
    margin-top:15px;
}

.textbox[type=text]{
    text-align:center;
    font-size: 16pt;
    width:270px;
    background-color:#ffffff;
    color:#000000;
    margin-top: 15px;
}

.textbox[type=password] {
    text-align: center;
    font-size: 16pt;
    width: 270px;
    background-color: #ffffff;
    color: #000000;
    margin-top: 15px;
}

.buton {
    background-color: #1D92DB;
    margin-top: 15px;
    padding: 12px;
    display: block;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20pt;
}
    .buton:hover{
        background-color:#1A628F;
    }

.link{
    text-decoration:none;
    color:#DB3433;
    font-size: 15pt;
    margin-top: 60px;
}

    .link:hover {
        text-decoration: blink;
        color: #8F1313;
    }