* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-image: url('../images/starscape.jpg');
}



.header {
    min-height: 80px;
    background-color: #DBD948;
    width: 100%;
}

    .header img {
        float: left;
        width: 15%;
        height: 80px;
    }

    .header h1 {
        margin-left: 50px;
        float: left;
        margin-top: 20px;
        color: #8F1313;
    }

    .header h3 {
        float: left;
        margin-top: 30px;
        color: #8F1313;
    }

.info {
    float: right;
    margin-right: 50px;
    margin-top: 20px;
}

    .info label {
        text-decoration: none;
        color: #DBD948;
        font-weight: 900;
    }

.YarimForm {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 2px ridge #DBD948;
    background-color: #1D92DB;
    border-radius: 11px;
    opacity: 0.7;
}

    .YarimForm:hover {
        opacity: 0.9;
    }

.textboxfill textarea
{
    width:100%;
    height:100%;
}

#tb_list textarea {
    width: 100%;
    height: 100%;
}

.label {
    margin: 5px;
}

/*.formButton {
    margin-left: 20px;
    background-color: #F1612B;
    color: white;
    font-size: 16pt;
    text-decoration: none;
    border-radius: 6px;
    padding: 6px;
    font-weight: 700;
    opacity: 1 !important;
}*/

.formButton {
    background-color: #1A628F;
    font-weight: 700;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    padding: 6px;
    opacity: 1 !important;
    font-size:16pt;
    width:auto;
}

.menubar {
    min-height: 41px;
    width: 100%;
    background-color: #DBD948;
}

    .menubar ul {
        list-style-type: none;
    }

    .menubar a {
        text-decoration: none;
    }

        .menubar a:hover .menuitem0 {
            background-color: #DB3433;
            color: #1D92DB;
            border-bottom: 5px solid #1A628F;
        }

        .menubar a:hover .menuitem1 {
            background-color: #DB3433;
            color: #1D92DB;
            border-bottom: 5px solid #1A628F;
        }

.menuitem0 {
    color: #1A628F;
    font-weight: 300;
    padding: 10px;
    float: left;
}

.menuitem1 {
    margin-left: 100px;
    color: #1A628F;
    font-weight: 300;
    padding: 10px;
    float: left;
}

.content {
    background-image: url('../images/barış abi.jpg');
    width: 100%;
    min-height: 600px;
    padding-top: 10px;
}

.table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 2px ridge #DBD948;
    background-color: #1D92DB;
    border-radius: 11px;
    opacity: 0.4;
}

    .table:hover {
        opacity: 0.9;
        background-color: #1A628F;
    }

    .table th {
        text-align: center;
        border-bottom: 2px solid #1A628F;
        padding: 8px;
    }

    .table tr td {
        text-align: center;
        padding: 8px;
        border-bottom: 1px ridge silver;
    }

.yarimtable {
    width: 400px;
    border: 2px ridge #1A628F;
    background-color: #1D92DB;
    border-radius: 11px;
    opacity: 0,2;
}

    .yarimtable:hover {
        border: 2px ridge #1D92DB;
        background-color: #1A628F;
        opacity: 0.4;
    }

.silbutton {
    background-color: #DB3433;
    color: #8F1313
}

.hata {
    color: #DBD948;
    background-color: #8F1313;
    padding: 2px 5px;
}

.form {
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kategoriekletable {
    width: auto;
    display: flow;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 2px ridge #DBD948;
    background-color: #1D92DB;
    border-radius: 11px;
    opacity: 0.9;
    text-decoration: none;
    text-align: center;
}

    .kategoriekletable tr td {
        padding: 5px;
    }

.aspbutton {
    align-self: center;
}

.formtablediv {
    min-height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.cikis {
    text-decoration: none;
    background-color: #8F1313;
    color: #ffffff;
}

.linkbutton {
    text-decoration: none;
}
